.formdiv {
    display: flex;
    justify-content: center;
    padding: 40px;

    .myform {
        font-size: 22px;
        width: 25%;
        border: 2px solid black;
        border-radius: 10px;
        padding: 20px;

        .form-control:focus {
            height: 100%;
            width: 100%;
            border-radius: 50px;
        }
    }

    .loginbtn.btn-primary {
        background-color: #F9F5EB;
        color: black;
    }
}

.myregisterform {
    display: flex;
    justify-content: center;
    .registerbtn {
        font-size: 14px;
        font-weight: bold;
        background-color: #F9F5EB;
        color: black;
    }
}